@model VendorTestProject.Models.Cart.AuthorizeViewModel

<h3>Scan to authorize this purchase</h3>
<img width="256" height="256" src="@Model.QRCode" />
<br/>
<br/>
<div >
    <div id="status">
        @{ Html.RenderPartial("_AuthorizeStatus", Model); };
    </div>
    <form asp-controller="Cart" asp-action="AuthorizeStatus" data-ajax="true" data-ajax-method="POST" data-ajax-update="#status" data-ajax-mode="replace">
        <br/>
        <input type="hidden" asp-for="State" value="@Model.State"/>
        <input type="hidden" asp-for="AuthorizationCode" value="@Model.AuthorizationCode"/>
        <button type="submit" class="btn btn-default">Check Status</button>
    </form>
</div>
